{% extends 'base.html' %}


{% block body %}

<h2>Ratna</h2>

  <div id='flexbox'>
    <div id=hor1>
     <button id="b1" onclick="btn(1)"><span id="btn1"></span></button>
     <button id="b2" onclick="btn(2)"><span id="btn2"></span></button>
     <button id="b3" onclick="btn(3)"><span id="btn3"></span></button>
    </div>

    <div id=hor2>
     <button id="b4" onclick="btn(4)"><span id="btn4"></span></button>
     <button id="b5" onclick="btn(5)"><span id="btn5"></span></button>
     <button id="b6" onclick="btn(6)"><span id="btn6"></span></button>
    </div>

     <div id=hor3>
     <button id="b7" onclick="btn(7)"><span id="btn7"></span></button>
     <button id="b8" onclick="btn(8)"><span id="btn8"></span></button>
     <button id="b9" onclick="btn(9)"><span id="btn9"></span></button>
    </div>
  </div>


<script src="static/test.js" ></script>
{% endblock %}
